<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beautiful Todo List</title>
    <link rel="stylesheet" href="/static/style1.css">
    <!-- <script src="/static/js/message.js"></script> -->
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>

<body>

    <nav class="navbar">
        <div href="/" class="logo">Todo App</div>
        <ul class="nav-links">
            <li><a href="/todo-list" class="active">My Todos</a></li>
            <li><a href="/todo-list">My To-Do List</a></li>
            <li><a href="/about">About</a></li>
            <li><input type="text" placeholder="Search" class="search-bar"></li>
        </ul>
    </nav>


    <div class="background-container">
        <div class="blurry-background"></div>
    </div>

    <div class="container">
        <h1>Inspire & Conquer</h1>
        <form action="/" method="POST" id="todoForm">

            <div class="todo-item">
                <label for="taskDescription">Task Description:</label>
                <input type="text" id="taskDescription" name="taskDescription" placeholder="Enter task description...">

                <label for="dueDate">Due Date:</label>
                <input type="date" id="dueDate" name="dueDate">

                <label for="priority">Priority:</label>
                <select id="priority" name="priority">
                    <option value="low">Low</option>
                    <option value="medium">Medium</option>
                    <option value="high">High</option>
                </select>


                <label for="category">Category:</label>
                <select id="category" name="category" placeholder="Select task category...">
                    <option value="Personal-Growth">Personal-Growth</option>
                    <option value="College-Study">College-Study</option>
                    <option value="Exam-Preparation">Exam-Preparation</option>
                    <option value="Communication">Communication</option>
                    <option value="Entertaiment">Entertaiment</option>
                </select>

                <label for="dependencies">Dependencies:</label>
                <select id="dependencies" name="dependencies">
                    <option value="Finish-to-Start">Finish-to-Start</option>
                    <option value="Start-to-Start">Start-to-Start</option>
                    <option value="Finish-to-Finish">Finish-to-Finish</option>
                </select>

                <label for="estimatedTime">Time:</label>
                <select id="estimatedTime" name="estimatedTime">
                    <option value="1-Hour">1-Hour</option>
                    <option value="2-Hours">2-Hours</option>
                    <option value="3-Hours">3-Hours</option>
                    <option value="4-Hours">4-Hours</option>
                    <option value="5-Hours">5-Hours</option>
                    <option value="6-Hours">6-Hours</option>
                </select>

                <label for="progress">Progess-Tracking</label>
                <input type="text" id="progress" name="progress" placeholder="Enter progess details">


                <!-- <label for="reminder">Set Reminder:</label>
                <input type="datetime-local" id="reminder" name="reminder"> -->

                <label for="reward">Completion Reward:</label>
                <input type="text" id="reward" name="reward" placeholder="Enter completion reward...">
            </div>
            <button type="submit">Add Todo</button>
        </form>
    </div>

</body>

</html>